<!DOCTYPE html>
<html>
<head>
	<title>Online Medicine Store</title>
</head>
<body>
	<h2>Online Medicine Store</h2>
	
	<form method="post">
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		Type:   <select name="type" id="Type" style="width: 10%;">
 					<option selected hidden disabled >Select Position</option>
  					<option value="Admin">Admin</option>
  					<option value="Customer">Customer</option>
					</select><br>
		<input type="submit" name="" value="Submit">
		<a href="/login/register">Sign Up</a> <br><br>
	</form>
</body>
</html>