<!DOCTYPE html>
<html>
<head>
	<title>Add user  Page</title>
</head>
<body>
	<div>
			<h2>Add User Page</h2> 		
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="id" ></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" ></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" ></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><input type="text" name="type" ></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Add"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>